html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
.container {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: 0;
}
.title__container {
    height: 100px;
    width: 810px;
    margin: 0 auto;
    padding: 45px 0 115px;
}
.title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;  
    text-align: center;
}
.task__container {
    max-width: 50%;
    margin: 0 auto;
}
.task {
    display: block;
    font-size: 64px;
    text-align: center;
    margin: 100px 0 100px;
}
.answers__container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 80%;
}
.answer {
    width: 180px;
    height: 100px;
    border-radius: 15px;
    border-color: transparent;
    background-color: #4AFFFF;
    cursor: pointer;
    text-align: center;
    font-size: 48px;
}
.result__container {
    display: block;
    margin: 100px auto 100px;
    max-width: 25%;

}
.result {
    font-size: 48px;
    color: red;
    text-align: center;
}
.info__container{
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0 auto;
}
.start__button {
    display: block;
    border-radius: 15px;
    border-color: transparent;
    background-color: #4AFFFF;
    cursor: pointer;
    text-align: center;
    font-size: 48px;
    margin: 100px auto 100px;
    text-transform: uppercase;
    padding: 10px 15px;
}

.main__game {
    display: none;
}
.final__score {
    display: none;
    text-transform: uppercase;
    font-size: 64px;
    text-align: center;
}

.retry__button {
    display: none;
    border-radius: 15px;
    border-color: transparent;
    background-color: #4AFFFF;
    cursor: pointer;
    text-align: center;
    font-size: 48px;
    margin: 100px auto 100px;
    text-transform: uppercase;
    padding: 10px 15px;
}

@media (max-width: 1024px) {
    .answer {
        width: 150px;
    }
    .answers__container {
        max-width: 95%;
    }
}

@media (max-width: 768px) {
    .title__container {
        width: 430px;
    }
    .title {
        font-size: 30px;
    }
    .result__container {
        margin: 75px auto 75px;
    }
    .answer {
        width: 100px;
        height: 75px;
    }
}

@media (max-width: 425px) {
    .title__container {
        width: 300px;
    }
    .title {
        font-size: 24px;
    }
    .result__container {
        margin: 50px auto 50px;
    }
    .answer {
        width: 100px;
        height: 75px;
        font-size: 36px;
        margin: 5px;
    }
    .answers__container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .info__container {
        font-size: 20px;
    }
    .task {
        font-size: 46px;
        margin: 75px 0 75px;
    }
    .task__container {
        max-width: 80%;
    }
    .result {
        font-size: 26px;
    }
}

@media (max-width: 375px) {
    .final__score {
        font-size: 50px;
    }
}
@media (max-width: 320px) {
    .answer {
        width: 80px;
        height: 60px;
        font-size: 30px;
        margin: 3px;
    }
    .result__container {
        margin: 40px auto 40px;
    }
    .task {
        font-size: 36px;
        margin: 50px 0 50px;
    }
    .info__container {
        font-size: 18px;
    }
    .title {
        font-size: 20px;
    }
}